<html>
    <head>
       <title>Add a photo</title>
       <link rel="stylesheet" href="/style.css">
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
       <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
            <h1>Connectify-<span>Your own social media platform</span></h1>    
        <div id="formdiv">
           <form action="/addphoto/<%=user%>" method="POST" enctype="multipart/form-data">
           <input type="file" name="photo" id="post-photo"><br>
           <input type="submit" id="submit-post" value="Add photo">
         </form>
        </div>
    </body>
</html>