<html>
    <head>
        <title>Create comment</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
            <h1>Connectify-<span>Your own social media platform</span></h1>
        <div id="formdiv">
       <form action="/comment/<%=user%>/<%=post_ID%>" method="POST">     
        <textarea name="comment" id="comment-text" placeholder="Enter comment" required></textarea><br>
        <input type="submit" id="submit-comment" value="Comment">    
       </form>
        </div>
    </body>
</html>