<html>
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
            <h1>Connectify-<span>Your own social media platform</span></h1>
         <div id="formdiv">
           <form action="/forgotpass?" method="POST">
            <input type="text" name="email"  class="password" placeholder="Enter email" required>
            <div id="submit-div-pass">
                <input type="submit" value="Reset password" id="submit-pass">
            </div>
          </form>  
         </div>
    </body>
</html>