<html>
    <head>
        <title>
            Sign Up
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
        <h1>Connectify-<span>Your own social media platform</span></h1>
        <%if(msg&&msg.length>0){%>
          <div id="showerror"><%=msg%></div>
        <%}%>  
        <div id="formdiv">
        <form action="/signup" method="POST" onsubmit="return check()" enctype="multipart/form-data">
        <input type="text" name="fname" id="fname" placeholder="First Name" required><br>
        <input type="text" name="lname" id="lname" placeholder="Last Name" required><br>    
        <input type="email" name="username" id="username" placeholder="Username" required><br>
        <input type="password" name="password"  class="password" placeholder="Password" required><br>
        <input type="password" class="retype-password" placeholder="Retype Password" required><br>
        <label>Date Of Birth <input type="date" id="DOB" name="DOB" required></label>
       <label>Male <input type="radio" name="gender" value="Male" class="gen" required></label>
       <label>Female <input type="radio" name="gender" value="Female" class="gen" required></label><br>
       <input type="file" id="profile-pic" name="profile">
        <div id="submit-div">
        <input type="submit" value="Sign Up" id="submit">
       </div>
       </form>       
        </div>
        <script src="/check.js"></script>
    </body>
</html>